<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical:AI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/png" href="/content/WhiteLogo-OnTransparent.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.31/vue.global.prod.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.3/marked.min.js"></script>
    <style>
        .hero-body {
            background-color: #f5f5f5;
        }
        .navbar {
            background-color: black;
        }
        .navbar-item img {
            max-height: 3rem;
        }
        .section:nth-child(even) {
            background-color: #f5f5f5;
        }
        .card {
            height: 100%;
        }
        .footer {
            background-color: black;
            color: white;
        }
        .custom-button {
            border-color: rgb(255, 255, 255) !important;
            background-color: #000000 !important;
            color: rgb(255, 255, 255) !important;
            transition: background-color 0.3s, color 0.3s;
        }
        .custom-button:hover {
            border-color: black !important;
            background-color: #ffffff !important;
            color: black !important;
        }
        .custom-button2 {
            color: black !important;
            transition: background-color 0.3s, color 0.3s;
        }
        .custom-button2:hover {
            border-color: rgb(255, 255, 255) !important;
            background-color: #000000 !important;
            color: rgb(255, 255, 255) !important;
        }
    </style>
        <script>
            // Function to get query parameter value
            function getQueryParam(param) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(param);
            }
            
            // Function to set iframe src
            function setIframeSrc() {
                const eventCode = getQueryParam('eventCode');
                if (eventCode) {
                    const iframe = document.getElementById('bookwhen-iframe');
                    if (iframe) {
                        iframe.src = `https://bookwhen.com/pai-foundations/iframe/e/${eventCode}`;
                        window.addEventListener('message', function(event) {
                            // Make sure the message is from Bookwhen
                            if (event.origin !== 'https://bookwhen.com') return;
    
                            try {
                                iframe.style.height = event.data.height + 'px';
                            } catch (e) {
                                console.error('Error parsing message from Bookwhen:', e);
                            }
                        });
                    } else {
                        console.error('Iframe element not found');
                    }
                }
            }
    
            // Run the setIframeSrc function after the DOM is fully loaded
            document.addEventListener('DOMContentLoaded', setIframeSrc);
        </script>
</head>
<body class="has-navbar-fixed-top">
    <div id="app">
        <nav-bar :logo="content.logo" :menu-items="content.menuItems"></nav-bar>
        <section class="section pt-2">
            <div class="container">
                <iframe id="bookwhen-iframe" frameborder="0" scrolling="no" seamless="seamless" style="display:block;border:none;width:100%;height:820px;"></iframe>
            </div>
        </section>
        <template v-for="(section, index) in content.sections" :key="index">
            <component :is="section.type" :section-data="section" :events="workshops" @book-event="bookEvent"></component>
        </template>

        <site-footer :footer-data="content.footer"></site-footer>
    </div>

    <script>
        const NavBar = {
            props: ['logo', 'menuItems'],
            template: `
                <nav class="navbar is-fixed-top is-info has-background-black">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <img :src="logo" alt="Logo">
                            </a>
                        </div>
                        <div class="navbar-menu">
                            <div class="navbar-end">
                                <a v-for="item in menuItems" :key="item.url" class="navbar-item" :href="item.url">
                                    {{ item.text }}
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            `
        };

        const HeroSection = {
            props: ['sectionData'],
            template: `
                    <section class="hero is-medium is-info " :class="sectionData.background" id="hero">
                        <div class="container">
                            <div class="hero-body"  :class="sectionData.background">
                                <div class="columns">
                                    <div class="column">
                                        <div>
                                            <img src="/content/WhiteLogo-BrandName-OnTransparent.png" alt="Practical:AI Logo">
                                        </div>
                                        <h1 class="title">{{ sectionData.title }}</h1>
                                        <h2 class="subtitle">{{ sectionData.subtitle }}</h2>
                                        <a :href="sectionData.ctaLink" class="button custom-button2 is-primary is-large has-background-white">{{ sectionData.ctaText }}</a>
                                    </div>
                                    <div class="column is-one-third">
                                        <figure class="image">
                                            <img class="is-rounded" src="/content/asarole.png" alt="AI Roles" />
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            `
        };

        const ContentSection = {
            props: ['sectionData'],
            template: `
                    <section class="section">
                        <div class="container" v-if="!sectionData.staticHTML">
                            <h2 class="title is-2">{{ sectionData.title }}</h2>
                            <div class="content" v-html="parseMarkdown(sectionData.content)"></div>
                        </div>
                        <div class="container" v-else>
                            <h2 class="title is-2">{{ sectionData.title }}</h2>
                            <div class="columns">
                                <div :class="['column', sectionData.columnClass]">
                                    <div class="content" v-html="parseMarkdown(sectionData.content)"></div>
                                </div>
                                <div class="column" v-html="sectionData.staticHTML"></div>
                            </div>
                        </div>
                    </section>
            `,
            methods: {
                parseMarkdown(value) {
                    return marked.parse(value);
                }
            }
        };

        const CardSection = {
            props: ['sectionData', 'events'],
            data() {
                return {
                    activeModal: null,
                }
            },
            template: `
                <section class="section" :id="sectionData.title">
                    <div class="container">
                        <h2 class="title is-2">{{ sectionData.title }}</h2>
                        <div class="columns is-multiline">
                            <div v-for="(item, index) in sectionData.items" :key="index" class="column" :class="sectionData.columnClass">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left" v-if="item.image || item.icon">
                                                <figure class="image is-64x64" v-if="item.image">
                                                    <img class="is-rounded" :src="item.image" :alt="item.title">
                                                </figure>
                                                <span class="icon is-large" v-else-if="item.icon">
                                                    <i :class="item.icon"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">{{ item.title }}</p>
                                                <p class="subtitle" v-if="item.subtitle">{{ item.subtitle }}</p>
                                            </div>
                                        </div>
                                        <div class="content" v-if="item.content" v-html="parseMarkdown(item.content)"></div>
                                        <div v-if="item.buttonText" class="mt-5">
                                            <a 
                                                :href="item.buttonLink" 
                                                @click.prevent="!item.buttonLink && openModal(index)"
                                                class="button is-primary custom-button is-large is-black"
                                            >
                                                {{ item.buttonText }}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Bulma Modal -->
                                <div class="modal" :class="{ 'is-active': activeModal === index }">
                                    <div class="modal-background" @click="closeModal"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Select an event date for {{ item.title }}</p>
                                            <button class="delete" aria-label="close" @click="closeModal"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <div class="buttons">
                                                <button 
                                                    v-for="event in filteredEvents(item)"
                                                    :key="event.eventCode"
                                                    class="button is-fullwidth is-light"
                                                    @click="bookEvent(event.eventCode)"
                                                >
                                                    {{ formatDate(event.date) }} - {{ event.location }}
                                                </button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            `,
            methods: {
                parseMarkdown(value) {
                    return marked.parse(value);
                },
                openModal(index) {
                    this.activeModal = index;
                },
                closeModal() {
                    this.activeModal = null;
                },
                filteredEvents(item) {
                    return this.events.workshops.filter(event => event.title === item.title);
                },
                formatDate(dateString) {
                    // Parse the ISO date string manually
                    const year = dateString.substr(0, 4);
                    const month = dateString.substr(4, 2);
                    const day = dateString.substr(6, 2);
                    const hour = dateString.substr(9, 2);
                    const minute = dateString.substr(11, 2);
                    const second = dateString.substr(13, 2);

                    // Create a new Date object
                    const date = new Date(year, month - 1, day, hour, minute, second);

                    // Format the date
                    return date.toLocaleDateString('en-NZ', { 
                        month: 'short', 
                        day: 'numeric',
                        year: 'numeric'
                    });
                },
                bookEvent(eventCode) {
                    window.location.href = `/booking.html?eventCode=${eventCode}`;
                }
            }
        };
        

        const ContactForm = {
            props: ['sectionData'],
            template: `
                <section class="section" id="contact">
                    <div class="container">
                        <h2 class="title is-2">Contact Us</h2>
                        <div id="hubspot-form-container"></div>
                    </div>
                </section>
            `,
            mounted() {
                this.loadHubspotForm();
            },
            methods: {
                loadHubspotForm() {
                    const script = document.createElement('script');
                    script.charset = 'utf-8';
                    script.type = 'text/javascript';
                    script.src = '//js.hsforms.net/forms/embed/v2.js';
                    script.addEventListener('load', () => {
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "45154194",
                            formId: "5687d1d3-54b0-48a9-8207-0478b326920f",
                            target: "#hubspot-form-container"
                        });
                    });
                    document.head.appendChild(script);
                }
            }
        };

        const SiteFooter = {
            props: ['footerData'],
            template: `
                <footer class="footer">
                    <div class="content has-text-centered">
                        <p>{{ footerData.generated }}</p>
                        <p>{{ footerData.copyright }}</p>
                        <div class="buttons is-centered">
                            <a v-for="(link, index) in footerData.socialLinks" :key="index" :href="link.url" class="button is-light">
                                <span class="icon"><i :class="link.icon"></i></span>
                            </a>
                        </div>
                    </div>
                </footer>
            `
        };

        const app = Vue.createApp({
            components: {
                NavBar,
                HeroSection,
                ContentSection,
                CardSection,
                ContactForm,
                SiteFooter
            },
            data() {
                return {
                    content: {
                        logo: '',
                        menuItems: [],
                        sections: [],
                        footer: {}
                    },
                    workshops: []
                }
            },
            methods: {
                async fetchContent() {
                    const [contentResponse, workshopResponse] = await Promise.all([
                        fetch('foundations.yml'),
                        fetch('workshops.yml')
                    ]);

                    const [yamlContent, yamlWorkshops] = await Promise.all([
                        contentResponse.text(),
                        workshopResponse.text()
                    ]);

                    this.content = jsyaml.load(yamlContent);
                    this.workshops = jsyaml.load(yamlWorkshops);
                }
            },
            mounted() {
                this.fetchContent();
            }
        });

        app.mount('#app');
    </script>
</body>
</html>